<body>
    <form [formGroup] = 'infoForm'>
        <table>
            <tr>
                    <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Id stola:</mat-label>
                        <input matInput required formControlName = 'name'>
                        <mat-error *ngIf = 'infoForm.controls["name"].hasError("required")'>Id je <strong>obavezno</strong> polje</mat-error>
                        </mat-form-field>
                    </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Novo x:</mat-label>
                        <input matInput required formControlName = 'x'>
                        <mat-error *ngIf = 'infoForm.controls["x"].hasError("required")'>x je <strong>obavezno</strong> polje</mat-error>
                        </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Novo y:</mat-label>
                        <input matInput required formControlName = 'y'>
                        <mat-error *ngIf = 'infoForm.controls["y"].hasError("required")'>x je <strong>obavezno</strong> polje</mat-error>
                        </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color = 'accent' (click) = 'confirm()'>Potvrdi</button>
                </td>
            </tr>
        </table>
    </form>
</body>