<body>
    <div class = 'mat-title'>Dodaj novog kupca</div>
    <form [formGroup] = 'registrationForm'>
        <table>
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Ime</mat-label>
                        <input matInput required formControlName = 'name'>
                        <mat-error *ngIf = 'registrationForm.controls["name"].hasError("required")'>Ime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Prezime</mat-label>
                        <input matInput required formControlName = 'surname'>
                        <mat-error *ngIf = 'registrationForm.controls["surname"].hasError("required")'>Prezime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
            </tr>    
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Korisnicko ime</mat-label>
                        <input matInput required formControlName = 'username'>
                        <mat-error *ngIf = 'registrationForm.controls["username"].hasError("required")'>Korisnicko ime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Telefon</mat-label>
                        <input type="tel" matInput placeholder="062 123 45 67" required formControlName = 'phoneNumber'>
                        <mat-error *ngIf = 'registrationForm.controls["phoneNumber"].hasError("required")'>Broj telefona je <strong>obavezno</strong> polje.</mat-error>
                  </mat-form-field>
                </td>
            </tr>   
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Lozinka</mat-label>
                        <input matInput type="password" required formControlName = 'password'>
                        <mat-error *ngIf = 'registrationForm.controls["password"].hasError("required")'>Lozinka je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Potvrda lozinke</mat-label>
                        <input matInput type="password" required formControlName = 'passwordConfirmed'>
                        <mat-error *ngIf = 'registrationForm.controls["passwordConfirmed"].hasError("required")'>Potvrda lozinke je <strong>obavezno</strong> polje.</mat-error>
                        <mat-error>
                            
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr> 
            <tr>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Broj licne karte</mat-label>
                        <input matInput required formControlName = 'identifierNumber'>
                        <mat-error *ngIf = 'registrationForm.controls["identifierNumber"].hasError("required")'>Broj licne karte je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>{{error}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button (click) = 'addNewBuyer()'>
                        Dodaj
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>