form {
    display: table;
    margin: auto;
}

table{
    text-align: center;
}

.mat-title {
    text-align: center;
    margin-top: 20px;
    
}

div {
    text-align: center;
}

.regDiv{
    margin-top: 20px;
}

a{
    text-decoration: none;
}

span.err {
    color: red;
}

span.succ {
    color: green;
}