<body>
    <div class = 'mat-title'>Promena lozinke</div>
    <form [formGroup] = 'updatePasswordForm'> 
        <table>
            <tr>
                <mat-form-field appearance='outline' color = 'accent'>
                    <mat-label>Stara lozinka</mat-label>
                    <input matInput required type="password" formControlName = 'password'>
                    <mat-error *ngIf = 'updatePasswordForm.controls["password"].hasError("required")'>Stara lozinka je <strong>obavezno</strong> polje</mat-error>
                </mat-form-field>
            </tr>   
            <tr>
                <mat-form-field appearance='outline' color = 'accent'>
                    <mat-label>Nova lozinka</mat-label>
                    <input matInput required type="password" formControlName = 'newPassword'>
                    <mat-error *ngIf = 'updatePasswordForm.controls["newPassword"].hasError("required")'>Lozinka je <strong>obavezna</strong></mat-error>
                </mat-form-field>
            </tr>   
            <tr>
                <mat-form-field appearance='outline' color = 'accent'>
                    <mat-label>Potvrdite novu lozinku</mat-label>
                    <input matInput required type="password" formControlName = 'newPasswordConfirmed'>
                    <mat-error *ngIf = 'updatePasswordForm.controls["newPasswordConfirmed"].hasError("required")'>Potvrda lozinke je <strong>obavezna</strong></mat-error>
                </mat-form-field>
            </tr>  
            <tr>
                <button mat-raised-button (click) = 'updatePassword()'>
                    Promeni lozinku
                </button>
            </tr>
            <tr>
                <span class = 'err'>{{error}}</span>
            </tr>
            <tr>
                <span class = "succ">{{success}}</span>
            </tr>
        </table>
    </form>
</body>