form {
    display: table;
    margin: auto;
}

table{
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

div {
    text-align: center;
}

.regDiv{
    margin-top: 20px;
}

a{
    text-decoration: none;
}

span.err {
    color: red;
}