<mat-form-field appearance='outline' color = 'accent'>
    <mat-label>Odeljenje</mat-label>
    <mat-select>
        <div *ngFor = 'let r of rooms'>
            <mat-option value="{{r.name}}" (click) = 'selectRoom(r)'>{{r.name}}</mat-option>
        </div>
    </mat-select>
</mat-form-field>
<canvas #canvas width="600" height="300"></canvas>
<button mat-raised-button color = 'accent' (click) = 'paint()'>Dodaj sto</button>
<button mat-raised-button color = 'accent' (click) = 'addRoom()'>Dodaj odeljenje</button>
<button mat-raised-button color = 'accent' (click) = 'moveTable()'>Pomeri sto</button>