<body>
    <form [formGroup] = 'categoryForm'> 
        <div class = 'mat-title'>Kategorije</div>
        <div>
            <mat-selection-list role="list" [multiple] = 'false'>
                <mat-list-option role="listitem" *ngFor = 'let c of categories' (click) = 'showSubcategory(c.name)'>    {{c.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div>
            <h3 class = "hoverIt" (click) = 'showAddCategory()'><strong>Nova kategorija</strong></h3>
            <mat-form-field appearance='outline' color = 'accent' *ngIf = 'addCategory'>
                <mat-label>Naziv</mat-label>
                <input matInput required formControlName = 'name'>
                <mat-error *ngIf = 'categoryForm.controls["name"].hasError("required")'>Naziv je <strong>obavezno</strong> polje</mat-error>
            </mat-form-field>
            <button mat-raised-button color = 'accent' *ngIf ='addCategory' (click) = 'addNewCategory()'>Dodaj</button>
        </div>
    </form>
    <form [formGroup] = 'subcategoryForm'>
        <div>
            <h3 class = "hoverIt" (click) = 'showAddSubCategory()'><strong>Nova podkategorija za {{selectedCategory}}</strong></h3>
            <mat-form-field appearance='outline' color = 'accent' *ngIf = 'addSubcategory && selectedCategory != ""'>
                <mat-label>Naziv</mat-label>
                <input matInput required formControlName = 'name'>
                <mat-error *ngIf = 'subcategoryForm.controls["name"].hasError("required")'>Naziv je <strong>obavezno</strong> polje</mat-error>
            </mat-form-field>
            <button mat-raised-button color = 'accent' *ngIf ='addSubcategory && selectedCategory != ""' (click) = 'addNewSubcategory()'>Dodaj</button>
        </div>
        <div class = 'mat-title'>Kategorije sa podkategorijama</div>
        <mat-list role="list">
            <ng-container *ngFor="let c of categories">
                <mat-list-item role="listitem">{{c.name}}</mat-list-item>
                <mat-list style="margin-left:30px;" role="list">
                    <div *ngFor="let sc of c.subcategories">
                        <mat-list-item>{{ sc }}</mat-list-item>
                    </div>
                </mat-list>
            </ng-container>
        </mat-list> 
    </form>
    <form [formGroup] = 'productToCategoryForm'>
        <div class = 'mat-title'>
            Dodaj artikal u kategoriju
        </div>
        <mat-form-field appearance='outline' color = 'accent'>
            <mat-label>Kategorija</mat-label>
            <mat-select required formControlName = 'category'>
                <div *ngFor = 'let c of categories'>
                    <mat-option value={{c.name}}  (click) = 'getSubcategoriesForCategory(c)'>{{c.name}}</mat-option>
                </div>
            </mat-select>
            <mat-error *ngIf = 'productToCategoryForm.controls["category"].hasError("required")'>Kategorija je <strong>obavezno</strong> polje.</mat-error>
        </mat-form-field>

        <mat-form-field appearance='outline' color = 'accent'>
            <mat-label>Podkategorija</mat-label>
            <mat-select formControlName = 'subcategory'>
                <div *ngFor = 'let sc of subcategories'>
                    <mat-option value='{{sc}}'>{{sc}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color = 'accent' (click) = 'addProductToCategory()'>
            Dodaj
        </button>
    </form>
</body>