<body>
    <div class = 'mat-title'>Registrujte se</div>
    <form [formGroup] = 'registrationForm'>
        <table>
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Ime</mat-label>
                        <input matInput required formControlName = 'name'>
                        <mat-error *ngIf = 'registrationForm.controls["name"].hasError("required")'>Ime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Prezime</mat-label>
                        <input matInput required formControlName = 'surname'>
                        <mat-error *ngIf = 'registrationForm.controls["surname"].hasError("required")'>Prezime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
            </tr>    
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Korisnicko ime</mat-label>
                        <input matInput required formControlName = 'username'>
                        <mat-error *ngIf = 'registrationForm.controls["username"].hasError("required")'>Korisnicko ime je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color='accent'>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Pr. pat@primer.com" required formControlName = 'email'>
                        <mat-error *ngIf = 'registrationForm.controls["email"].hasError("email")'>Unesite validan format e-maila.</mat-error>
                        <mat-error *ngIf = 'registrationForm.controls["email"].hasError("required")'>Email je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
            </tr>   
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Lozinka</mat-label>
                        <input matInput type="password" required formControlName = 'password'>
                        <mat-error *ngIf = 'registrationForm.controls["password"].hasError("required")'>Lozinka je <strong>obavezno</strong> polje.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Potvrda lozinke</mat-label>
                        <input matInput type="password" required formControlName = 'passwordConfirmed'>
                        <mat-error *ngIf = 'registrationForm.controls["passwordConfirmed"].hasError("required")'>Potvrda lozinke je <strong>obavezno</strong> polje.</mat-error>
                        <mat-error>
                            
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr> 
            <tr>
                <td>
                    <mat-form-field appearance='outline' color = 'accent'>
                        <mat-label>Naziv preduzeca</mat-label>
                        <input matInput required formControlName = 'firmName'>
                        <mat-error *ngIf = 'registrationForm.controls["firmName"].hasError("required")'>Naziv preduzeca je <strong>obavezno</strong> polje.</mat-error>
                        <mat-error>
                            
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Telefon</mat-label>
                        <input type="tel" matInput placeholder="062 123 45 67" required formControlName = 'phoneNumber'>
                        <mat-error *ngIf = 'registrationForm.controls["phoneNumber"].hasError("required")'>Broj telefona je <strong>obavezno</strong> polje.</mat-error>
                  </mat-form-field>
                </td>
            </tr> 
            <tr>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>PIB</mat-label>
                        <input matInput formControlName = 'pib'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Maticni broj preduzeca</mat-label>
                        <input matInput formControlName = 'id'>
                  </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Drzava</mat-label>
                        <input matInput formControlName = 'country'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Grad</mat-label>
                        <input matInput formControlName = 'city'>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Postanski broj</mat-label>
                        <input matInput formControlName = 'zipCode'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline" color = 'accent'>
                        <mat-label>Ulica i broj</mat-label>
                        <input matInput formControlName = 'streetAndNumber'>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    Odaberite logo preduzeca:
                </td>
                <td >
                    <form enctype="multipart/form-data" name = 'fileinfo'>
                    <ng-template matStepLabel>Logo</ng-template>
                        <input class="form-control fileinput" type="file" 
                            (change)="onFileChanged($event)">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>{{error}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button (click) = 'register()'>
                        Registruj se
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>