<div *ngFor = 'let bill of bills'>
    <mat-card>
        <mat-card-content>
            <b>Naziv preduzeca</b>: {{bill.firmName}} <br/>
            <b>Objekat gde je izdat racun</b>: {{bill.objectName}} <br/>
            <b>Iznos</b>: {{bill.toPay}} <br/>
            <b>Nacin placanja</b>: {{bill.type}} <br/>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click) = 'details(bill)'>Detalji</button>
        </mat-card-actions>
    </mat-card>
</div>